<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Your name">
    <meta name="keywords" content="Museum, Carnegie Mellon University, Information Systems">
    <meta name="description" content="MonoMuse website redesign project">
    <link rel="stylesheet" href="../static/style.css">
    <title>MonoMuse - Explore</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-4.0.0.min.js"></script>
    <script src="../static/script.js" defer></script>
</head>
<body onload="addYear()">
    <div class="container"> 
        <header class="header">
            <img id="logo" src="../static/monomuselogo.png" alt="MonoMuse Museum Logo"> 
        </header>

        <nav class="nav_bar">
            <a href="../index.html">Home</a>
            <a href="explore.html">Explore</a>
            <a href="exhibitions.html">Exhibitions</a>
            <a href="buytickets.html">Tickets</a> 
        </nav>

        <main class="main">
            <img src="../static/monomuse.png" alt="Monomuse Museum Image" style="width: 100%; max-width: 600px; border-radius: 8px; margin-bottom: 20px;">

            <h3>Mission Statement</h3>
            <p>MonoMuse is dedicated to exploring the evolving relationship between art, technology, and society. Our mission is to inspire curiosity and creativity by showcasing innovative exhibitions that highlight how digital tools, emerging technologies, and human imagination shape the future of artistic expression.</p>
            <h3>Milestones</h3>
                <ul class="milestone-list">
                    <li><strong>2013:</strong> Expansion of the museum space and launch of international artist collaborations.</li>
                    <li><strong>2016:</strong> MonoMuse opens its doors with its first exhibition on digital storytelling.</li>
                    <li><strong>2018:</strong> Launch of the Interactive Media Lab, allowing visitors to experiment with creative coding.</li>
                </ul>
        </main>
        <footer class="footer">
            <p id="copyYear"></p>
        </footer>
    </div>
</body>
</html>
